<div [formGroup]="form" *ngIf="form">

  <!-- general info  -->
  <div class="  ">
    <h2 class="my-2">General Information</h2>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Name of Bank</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Bank Name" matInput type="text" placeholder="Enter Bank Name" formControlName="bankName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Branch Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Branch Name" matInput formControlName="branchId"
            [matAutocomplete]="branchAutoComplete">
          <mat-autocomplete autoActiveFirstOption #branchAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredBranchList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Branch Code </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
            <input type="text" placeholder="Please Select" aria-label="Branch Code" matInput formControlName="branchCode"
            [matAutocomplete]="branchCodeAutoComplete">
            <mat-autocomplete autoActiveFirstOption #branchCodeAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredBranchCodeList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Country </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Country" matInput formControlName="country"
            [matAutocomplete]="countryAutoComplete">
            <mat-autocomplete autoActiveFirstOption #countryAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredCountryList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>


      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Name of District </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Name of District" matInput formControlName="district"
            [matAutocomplete]="districtAutoComplete">
            <mat-autocomplete autoActiveFirstOption #districtAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredDistrictList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Thana </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Thana" matInput formControlName="thana"
            [matAutocomplete]="thanaAutoComplete">
            <mat-autocomplete autoActiveFirstOption #thanaAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredThanaList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Company registration info -->
  <div>
    <h2 class="my-2">Company Registration Info</h2>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 gap-x-12 pt-6">

    </div>

  </div>

</div>
