<div [formGroup]="form" *ngIf="form">

  <!-- general info  -->
  <div class="  ">
    <h2 class="my-2 font-bold">General Information</h2>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Name of Bank</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Bank Name" matInput type="text" formControlName="bankName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Branch Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Branch Name" matInput formControlName="branchId"
            [matAutocomplete]="branchAutoComplete">
          <mat-autocomplete autoActiveFirstOption #branchAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredBranchList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Branch Code </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Branch Code" matInput formControlName="branchCode"
            [matAutocomplete]="branchCodeAutoComplete">
          <mat-autocomplete autoActiveFirstOption #branchCodeAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredBranchCodeList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Country </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Country" matInput formControlName="country"
            [matAutocomplete]="countryAutoComplete">
          <mat-autocomplete autoActiveFirstOption #countryAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredCountryList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>


      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Name of District </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Name of District" matInput
            formControlName="district" [matAutocomplete]="districtAutoComplete">
          <mat-autocomplete autoActiveFirstOption #districtAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredDistrictList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Thana </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Thana" matInput formControlName="thana"
            [matAutocomplete]="thanaAutoComplete">
          <mat-autocomplete autoActiveFirstOption #thanaAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredThanaList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Company registration info -->
  <div>
    <h2 class="my-2 font-bold">Company Registration Info</h2>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-2 gap-x-12 pt-6">
      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Incorporation Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Incorporation Number" matInput type="text" formControlName="incorporationNumber">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Incorporation Date</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input matInput [matDatepicker]="picker" aria-label="Incorporation Date" placeholder="Enter Date
          " formControlName="incorporationDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Registration Authority</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Registration Authority" matInput type="text" formControlName="registrationAuthority">
        </mat-form-field>
      </div>

      <div class="col-span-2">
        <div class=" flex items-center justify-between  ">
          <p class="text-lg font-medium">Registered Address</p>
          <mat-form-field appearance="outline" class="min-w-[85%]">
            <input aria-label="Registered Address" matInput type="text" formControlName="registeredAddress">
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>

  <!-- Trade License info -->
  <div>
    <h2 class="my-2 font-bold">Trade License Info</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Trade License Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Trade License Number" matInput type="text" formControlName="tradeLicenseNumber">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Date of Trade License</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Date of Trade License" matInput type="text" formControlName="dateOfTradeLicense">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Expired Date</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input matInput [matDatepicker]="picker1" aria-label="Expired Date" placeholder="Enter Expired Date
          " formControlName="expiredDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Issuing Authority</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Issuing Authority" matInput type="text" formControlName="issuingAuthority">
        </mat-form-field>
      </div>

    </div>

  </div>

  <!-- Taxpayer identification -->

  <div>
    <h2 class="my-2 font-bold">Taxpayer Identification</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">TIN Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="TIN Number" matInput type="text" formControlName="tinNumber">
        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Office Adress -->

  <div>
    <h2 class="my-2 font-bold">Office Adress</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">District</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Ofc Name of District" matInput
            formControlName="OfcDistrict" [matAutocomplete]="ofcDistrictAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcDistrictAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcDistrictList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Thana </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Ofc Thana" matInput formControlName="ofcThana"
            [matAutocomplete]="ofcThanaAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcThanaAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcThanaList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="col-span-2">
        <div class=" flex items-center justify-between ">
          <p class="text-lg font-medium"> Address</p>
          <mat-form-field appearance="outline" class="min-w-[85%]">
            <input aria-label="Address" matInput type="text" formControlName="ofcAddress">
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium font-medium ">Email </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Email Address" type="email" matInput formControlName="ofcEmailAddress" class="text-base">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium ">Mobile Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Ofc Phone Number" minlength="11" maxlength="11" type="text" matInput
            placeholder="01XXXXXXXXX" formControlName="ofcContactNo" class="text-base">
        </mat-form-field>
      </div>

    </div>
  </div>


  <!-- Account Information -->

  <div >
    <h2 class="my-2 font-bold">Account Information</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Title of Account(In Bangla)</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="acTitleBn" matInput type="text" formControlName="bankName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Title of Account(In English)</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="acTitleEn" matInput type="text" formControlName="bankName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Nature of Account</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Nature of Account" id="Nature of Account" name="natureOfAcc"
            formControlName="natureOfAcc">
            <mat-option value="">Please select</mat-option>

          </mat-select>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Business Sector</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Business Sector" id="businessSector" name="businessSector"
            formControlName="businessSector">
            <mat-option value="">Please select</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Sub Category</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Sub Category" id="subCategory" name="subCategory" formControlName="subCategory">
            <mat-option value="">Please select</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Currency</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Currency" id="Currency" name="currency" formControlName="currency">
            <mat-option value="">Select (BDT , USD)</mat-option>
            <mat-option value="">BDT</mat-option>
            <mat-option value="">USD</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Entity Type</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Entity Type" id="entityType" name="entityType" formControlName="entityType">
            <mat-option value="">Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Account Type</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Entity Type" id="accType" name="accType" formControlName="accType">
            <mat-option value="">Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


  </div>

  <!-- Account Operating Person Information -->

  <div >
    <h2 class="my-2 font-bold">Account Operating Person Information</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="accOperatingPersonName" matInput type="text" formControlName="accOperatingPersonName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Fathers Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Fathers Name" matInput type="text" formControlName="accOperatingPersonFatherName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Mothers Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Mothers Name" matInput type="text" formControlName="accOperatingPersonMotherName">

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Spouse Name</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Spouse Name" matInput type="text" formControlName="accOperatingPersonSpouseName">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">NID Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="NID Number" matInput type="text" formControlName="accOperatingPersonNid">

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Date of Birth</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input matInput [matDatepicker]="picker2" aria-label="Date of Birth" placeholder="Enter Date
          " formControlName="accOperatingPersonDob">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Nationality</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Nationality" id="nationality" name="nationality" formControlName="nationality">
            <mat-option value="">Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Gender</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Entity Gender" id="gender" name="gender" formControlName="gender">
            <mat-option value="">Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Relation With Organization</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Relation With Organization" matInput type="text"
            formControlName="relationWithOrganization">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">TIN Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="TIN Number" matInput type="text" formControlName="accOperatingTin">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Occupation</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <mat-select aria-label="Entity Occupation" id="occupation" name="occupation"
            formControlName="accOperatingOccupation">
            <mat-option value="">Select </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Monthly Income</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Monthly Income" matInput type="text" formControlName="monthlyIncome">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium">Source of Fund</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Source of Fund" matInput type="text" formControlName="sourceOfFund">
        </mat-form-field>
      </div>

    </div>


  </div>


  <!-- Present Address -->

  <div>
    <h2 class="my-2 font-bold">Present Address</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">District</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Present District" matInput
            formControlName="accOperatingPresentDistrict" [matAutocomplete]="ofcDistrictAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcDistrictAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcDistrictList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Thana </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Present Thana" matInput formControlName="accOperatingPresentThana"
            [matAutocomplete]="ofcThanaAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcThanaAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcThanaList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="col-span-2">
        <div class=" flex items-center justify-between ">
          <p class="text-lg font-medium"> Address</p>
          <mat-form-field appearance="outline" class="min-w-[85%]">
            <input aria-label="Address" matInput type="text" formControlName="accOperatingPresentAddress">
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium font-medium ">Email </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Present Email Address" type="email" matInput formControlName="accOperatingPresentEmail" class="text-base">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium ">Mobile Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Present Phone Number" minlength="11" maxlength="11" type="text" matInput
            placeholder="01XXXXXXXXX" formControlName="accOperatingPresentContact" class="text-base">
        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Permanent Address -->

  <div>
    <h2 class="my-2 font-bold">Permanent Address</h2>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-x-12 pt-6">

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">District</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Permanent District" matInput
            formControlName="accOperatingPermanentDistrict" [matAutocomplete]="ofcDistrictAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcDistrictAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcDistrictList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="flex items-center justify-between  ">
        <p class="text-lg font-medium">Thana </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input type="text" placeholder="Please Select" aria-label="Permanent Thana" matInput formControlName="accOperatingPermanentThana"
            [matAutocomplete]="ofcThanaAutoComplete">
          <mat-autocomplete autoActiveFirstOption #ofcThanaAutoComplete="matAutocomplete"
            [displayWith]="displayAutocompleteValue">
            <mat-option *ngFor="let element of filteredOfcThanaList | async" [value]="element">
              {{element.value}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>

      <div class="col-span-2">
        <div class=" flex items-center justify-between ">
          <p class="text-lg font-medium"> Address</p>
          <mat-form-field appearance="outline" class="min-w-[85%]">
            <input aria-label="Permanent Address" matInput type="text" formControlName="accOperatingPermanentAddress">
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium font-medium ">Email </p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Permanent Email Address" type="email" matInput formControlName="accOperatingPermanentEmail" class="text-base">
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between ">
        <p class="text-lg font-medium ">Mobile Number</p>
        <mat-form-field appearance="outline" class="min-w-[70%]">
          <input aria-label="Permanent Phone Number" minlength="11" maxlength="11" type="text" matInput
            placeholder="01XXXXXXXXX" formControlName="accOperatingPermanentContact" class="text-base">
        </mat-form-field>
      </div>

    </div>
  </div>

</div>
